$fighter: (
  "true-neutral": #960103,
  "neutral-good": lighten(#960103, 20%),
  "neutral-evil": darken(#960103, 20%),
  "lawful-neutral": #fff,
  "lawful-good": #F4EEB2,
  "lawful-evil": #000,
  "chaotic-neutral": #fff,
  "chaotic-good": #fff,
  "chaotic-evil": #fff
);

$rogue: (
  "true-neutral": #361645,
  "neutral-good": #2E2A2E,
  "neutral-evil": #5E3D6E,
  "lawful-neutral": #fff,
  "lawful-good": #62657A,
  "lawful-evil": #261122,
  "chaotic-neutral": #fff,
  "chaotic-good": #fff,
  "chaotic-evil": #fff
);

$wizard: (
  "true-neutral": #718A45,
  "neutral-good": #BC3547,
  "neutral-evil": #DBAD60,
  "lawful-neutral": #fff,
  "lawful-good": #F3CA4E,
  "lawful-evil": #592D52,
  "chaotic-neutral": #fff,
  "chaotic-good": #fff,
  "chaotic-evil": #fff
);

$cleric: (
"true-neutral": #D7AB1C,
"neutral-good": #ADAEAA,
"neutral-evil": #FACD2D,
"lawful-neutral": #fff,
"lawful-good": #DCD3BC,
"lawful-evil": #7A7070,
"chaotic-neutral": #fff,
"chaotic-good": #fff,
"chaotic-evil": #fff
);

$colors: (
  "fighter": $fighter,
  "rogue": $rogue,
  "wizard": $wizard,
  "cleric": $cleric
) !default;

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{$color}` - `#{$type}` in $colors.";
  @return null;
}
