.fighter {
  border: solid 4px color("fighter", "lawful-neutral");
  outline: solid 4px color("fighter", "chaotic-neutral");
  text-shadow: 2px 2px 2px color("fighter", "chaotic-evil");
  font-family: "Barbarian";
  font-size: 64px;
}

.rogue {
  border: solid 4px color("rogue", "lawful-neutral");
  outline: solid 4px color("rogue", "chaotic-neutral");
  text-shadow: 2px 2px 2px color("rogue", "chaotic-evil");
  font-family: "Neverwinter";
  font-size: 64px;
}

.wizard {
  border: solid 4px color("wizard", "lawful-neutral");
  outline: solid 4px color("wizard", "chaotic-neutral");
  text-shadow: 2px 2px 2px color("wizard", "chaotic-evil");
  font-family: "Kingthings Gothique";
  font-size: 64px;
}

.cleric {
  border: solid 4px color("cleric", "lawful-neutral");
  outline: solid 4px color("cleric", "chaotic-neutral");
  text-shadow: 2px 2px 2px color("cleric", "chaotic-evil");
  font-family: "Hobbiton Brushhand";
  font-size: 64px;
}
