@charset "UTF-8";

@import "components/color-themes";
@import "components/color-classes";

@import "components/variables";

@import "components/typography";



html, body {
  width: 100%;
  height: 100%;
}

div.demos {
  box-sizing: border-box;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 42px;
  margin: 10px;
}

.demo-wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.fighter {
  border: solid 4px color("fighter", "astral-essence");
  outline: solid 4px color("fighter", "demi-essence");
  text-shadow: 2px 2px 2px color("fighter", "field-of-darkness");
  font-family: "Barbarian";
  font-size: 64px;
}

.rogue {
  border: solid 4px color("rogue", "astral-essence");
  outline: solid 4px color("rogue", "demi-essence");
  text-shadow: 2px 2px 2px color("rogue", "field-of-darkness");
  font-family: "Neverwinter";
  font-size: 64px;
}

.wizard {
  border: solid 4px color("wizard", "astral-essence");
  outline: solid 4px color("wizard", "demi-essence");
  text-shadow: 2px 2px 2px color("wizard", "field-of-darkness");
  font-family: "Kingthings Gothique";
  font-size: 64px;
}

.cleric {
  border: solid 4px color("cleric", "astral-essence");
  outline: solid 4px color("cleric", "demi-essence");
  text-shadow: 2px 2px 2px color("cleric", "field-of-darkness");
  font-family: "Hobbiton Brushhand";
  font-size: 64px;
}
